html {
    font: normal 14pt system-ui;
}

body {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    margin: 0;
}


.site-hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-image: url(img/rebecca.jpg);
    background-size: cover;
    
    min-width: calc(10vw + 300px);
    text-align: center;
    color: whitesmoke;
    
    text-shadow: 1px 1px 2px black; 
    
    & p {
        color: rgb(255, 255, 255);
        font: bold .8rem system-ui;
        padding: 4px;
        
        & a {
            color: rgb(255, 197, 180);
        }
    }
}


main {
    margin-top: 120px;
    width: 100%;
}


.desc,
.confirm {
    padding: 0 32px;
}


.desc-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}


form {
    overflow: auto;
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 600px;
    padding: 32px;
}


.info-field {    
    flex: 1 1 0;
    margin: 8px 12px;   
}


input {
    background-color: whitesmoke;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    height: 26px;
    max-width: 350px;
}


@media (max-width: 800px) {
    body { flex-flow: column; }

    .site-hero {
        height: 250px;
        width: 100vw;
    }

    main { padding: 32px; }

    .info-container { 
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;

        & input {
            width: 200px;
        }
    }
}