html {
    font: normal 14pt montserrat, system-ui;
}


body {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    margin: 0;
}


.site-hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-image: url(img/rebecca.jpg);
    background-size: cover;
    
    min-width: calc(10vw + 300px);
    text-align: center;
    color: whitesmoke;
    
    text-shadow: 1px 1px 2px black; 
    
    & p {
        color: rgb(255, 255, 255);
        font: bold .8rem system-ui;
        padding: 4px;
        
        & a {
            color: rgb(255, 197, 180);
        }
    }
}


main {
    margin-top: 120px;
    width: 100%;
}


.desc,
.confirm {
    padding: 0 32px;
}


.desc-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}


form {
    overflow: auto;
}


.container {
    background-color: rgb(255, 255, 255);
    display: flex;
}


.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 600px;
    padding: 32px;
}


.info-field {    
    flex: 1 1 0;
    margin: 8px 0px;
    margin-right: 12px;   
}


input {
    background-color: whitesmoke;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    height: 26px;
    max-width: 350px;
    font: normal .8rem montserrat;
    padding: 2px 4px;
}


input:hover {
    border: 1px solid rgb(250, 194, 172);
}


input:focus {
    border: 1px solid rgb(245, 163, 131);
    box-shadow: 0 0 4px rgb(189, 189, 189);
    outline: none!important;
}


input[type=password]:invalid {
    border: 1px solid red;
}


.confirm {
    margin: 32px 0;
}


button {
    background-color: rgb(245, 175, 119);
    box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.288);
    border-radius: 4px;
    border: none;
    height: 44px;
    width: 200px;
    font-size: 1rem;
    font-family: 'montserrat';
    font-weight: bold;
    color: rgb(126, 62, 32);
}


button:hover {
    background-color: rgb(255, 211, 175);
    color: rgb(184, 101, 63);
}


button:active {
    background-color: rgb(211, 145, 91);
    color: rgb(117, 79, 56);
}


span a {
    color: rgb(129, 61, 6);
}


@media (max-width: 800px) {
    body { flex-flow: column; }

    .site-hero {
        height: 250px;
        width: 100vw;
    }

    main {
        margin-top: 16px; 
        padding: 0px; 
    }

    .info-container { 
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;

        & input {
            max-width: 200px;
        }
    }
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}